<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>{% block title %}Case Alert{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/cases/fullcalendar/fullcalendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/cases/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/cases/bootstrap/css/bootstrap-datetimepicker.min.css' %}">
  <script src="{% static '/cases/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static '/cases/fullcalendar/lib/jquery-ui.min.js' %}"></script>
  <script src="{% static '/cases/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/cases/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static '/cases/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static '/cases/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
</head>
<body>
  <header>
    <h1>Case Alert</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% endif %}
  </header>
  <hr>
  <main>
    <div class="container">
      {% if user.is_authenticated %}
      {% include "nav.html" %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <hr>
  <footer>
  </footer>
</body>
</html>