{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron">
  <h2>CaseAlert Outlook Sync</h2>
  <p>Setup this feature will synchronize your case and alert to Outlook Calendar through Outlook APIs.</p>
  <p>I have a outlook application key pair
    <a class="btn btn-primary" href="{% url 'outlook:new_outlook_key' %}" role="button">New Key</a>
  </p>
  <p>I want to get one from outlook
    <a class="btn btn-primary" href="https://apps.dev.microsoft.com/" data-linktype="external">Go to Outlook</a>
    <a class="btn btn-primary" href="{% url 'outlook:tutorial' %}" data-linktype="external">See tutorial</a>
  </p>
</div>
{% endblock %}