{% extends "base.html" %}

{% block content %}
{% if create_access %}
<div>
    <a class="btn btn-success" href="{% url 'outlook:new_outlook_key' %}">New Outlook Application Key</a>
</div>
{% endif %}
{% if keys %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Application ID</th>
          <th>Application Key</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key in keys %}
          {% if key.valid %}
            <tr class="success">
              <td>{{ key.outlook_app_id }}</td>
              <td>{{ key.outlook_app_key }}</td>
              <td><span class="label label-success">Active</span></td>
            </tr>
          {% else %}
              <tr class="warning">
                <td>{{ key.outlook_app_id }}</td>
                <td>{{ key.outlook_app_key }}</td>
                <td><a href="{{ key.sign_in_url }}" class="btn btn-primary btn-sm">Activate</a></td>
              </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if keys.has_previous %}
                <a class="btn btn-primary" href="?page={{ rules.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ keys.number }} of {{ keys.paginator.num_pages }}.
            </span>

            {% if keys.has_next %}
                <a class="btn btn-primary" href="?page={{ keys.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No Keys are available.</p>
{% endif %}

{% endblock %}