{% extends "base.html" %}

{% block content %}
<div>
    <a class="btn btn-success" href="{% url 'cases:new' %}">New Case</a>
</div>
{% if cases %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Deadline</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for case in cases %}
            <tr>
              <td><a href="{% url 'cases:case_detail' case.id %}">{{ case.case_id }}</a></td>
              <td>{{ case.deadline }}</td>
              <td><a href="{% url 'cases:delete' case.id %}">delete</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if cases.has_previous %}
                <a class="btn btn-primary" href="?page={{ cases.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ cases.number }} of {{ cases.paginator.num_pages }}.
            </span>

            {% if cases.has_next %}
                <a class="btn btn-primary" href="?page={{ cases.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No Case are available.</p>
{% endif %}

{% endblock %}