{% extends "base.html" %}

{% block content %}
<div>
    <a class="btn btn-success" href="{% url 'cases:new' %}">New Case</a>
</div>
{% if latest_case_list %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Deadline</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for case in latest_case_list %}
            <tr>
              <td><a href="{% url 'cases:case_detail' case.id %}">{{ case.case_id }}</a></td>
              <td>{{ case.deadline }}</td>
              <td><a href="{% url 'cases:delete' case.id %}">delete</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No Case are available.</p>
{% endif %}

{% endblock %}