{% extends "base.html" %}

{% block content %}
<div>
    <a class="btn btn-success" href="{% url 'cases:new_rule' %}">New Rule</a>
</div>
{% if rules %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Days</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for rule in rules %}
            <tr>
              <td>{{ rule.name }}</td>
              <td>{{ rule.days }}</td>
              <td><a href="{% url 'cases:rule_update' rule.id %}">Edit</a></td>
              <td><a href="{% url 'cases:rule_delete' rule.id %}">Delete</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if rules.has_previous %}
                <a class="btn btn-primary" href="?page={{ rules.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ rules.number }} of {{ rules.paginator.num_pages }}.
            </span>

            {% if rules.has_next %}
                <a class="btn btn-primary" href="?page={{ rules.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No Rules are available.</p>
{% endif %}

{% endblock %}